{% extends 'varios/index.html' %}
 
   {% block title %}
        Ingrese la carga
   {% endblock %}
   {% block content %}
    <form action="../paneles/" method="POST">
            {% csrf_token %}
            <div class="form-group">
                Ingrese la carga: {{SolarForm.carga}}
            </div>
            <div class="mt-2">
                <input class="btn btn-primary" type="submit" value="Siguiente">
            </div>
    </form>
    {% endblock %}
   <!--"../paneles/"-->
    
